.header-img {
    height: 75vh;
    min-height: 350px;
    /* background: no-repeat center center scroll; */
    background-image: url('../img/pages/baron-palac/img/hdr.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.p-section-header-text{
    /* float: right;
    margin-top: 390px;
    margin-right: 100px; */
    position: absolute;
    bottom: 30%;
    right: 8%;
    color: #FFFFFF;
}

main{
     /* background: url('../img/pages/baron-palac/img/section-bg.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}


/* ==========================================
    p-section-1
  ========================================== */

.p-section-1{
    margin-top: 50px;

}

.p-section-1 .header-2{
    text-align: right;
    color: #1034A6;
}


.p-section-1 .img-row{
    margin-bottom: 150px;
}

/*owl carousel customiztion*/
.p-section-1 .img-row .owl-stage-outer {
    position:relative !important;
    z-index:-1 !important;
}

.p-section-1 .img-row .owl-dots {
    position:relative;
    z-index:1 !important;
    margin-top:-30px !important;
}

/*responsive image grid*/
.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-top: -8px;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


/*nav tabs*/
.nav-tabs{
    padding-right: 0px !important;
    border: 0px !important;
}
.nav-tabs .tab-item{
    border: 1px solid #1034A6 !important;
    color: #1034A6;
    text-align: center;
    width: 15%;
}

.nav-tabs .tab-item:hover{
    background-color: #1034A6;
    color: #FFFFFF !important;

}

.nav-tabs a.tab-link {
    padding: 10px 10px;
    display: block;
    text-decoration: none !important;
    color: #1034A6 !important;
}


.nav-tabs a.tab-link #tab-icon{
    fill: #1034A6;
}

.nav-tabs a.tab-link:hover {
    color: #FFFFFF !important;
}
.nav-tabs a.tab-link:hover #tab-icon{
    fill: #FFFFFF;
}


.nav-tabs .tab-link.active{
    background-color:#1034A6;
    color: #FFFFFF !important;
}

.nav-tabs .tab-link.active .tab-item{
    background-color:#1034A6;
    color: #FFFFFF !important;
}



.nav-tabs .tab-link.active #tab-icon{
    fill: #FFFFFF;
}


/* ==========================================
    p-section-1-1
  ========================================== */

.p-section-1-1{
    margin-top: 50px;
}



.p-section-1-1 .details-panel{
    background-color: #E8F8F5;
    border: 1px solid #28D0DD;
    min-height: 300px;
    text-align: right;
    padding: 40px 20px 0px 20px;
}
.p-section-1-1 .details-panel h3{
    color: #FF5440;
}
.p-section-1-1 .details-panel p{
    color: #474747 !important;
}


.p-section-1-1 .details-form{
    margin-top: 30px;
}
.p-section-1-1 .details-form .search-group{
    border: 1px solid #FF5440 !important;
    width: 85%;
}
.p-section-1-1 .details-form .search-group .form-control {
    border-radius: 0px !important;
    font-size: 15px;
    background-color: #FF54401F;
}

.p-section-1-1 .details-form .search-group .form-control:focus {
    border-radius: 1px solid #FF5440 !important;
    color: #474747 !important;
}
.p-section-1-1 .details-form .search-group .search-button{
    background-color: #FF5440;
    border-radius: 0px !important;
    border: 0px !important;
    width: 30%;
    padding: 0;
}

.p-section-1-1 .details-form .search-group .search-button:hover{
    background: transparent;
    color: #FF5440;
}

.p-section-1-1 .details-form .search-group input#googlSearch {
    background-image: url('../img/pages/baron-palac/icons/google-maps.png');
    background-repeat: no-repeat;
    background-position: 265px 8px;
    background-size: 20px 20px;
    text-indent: 25px;
}


.p-section-1-1 .services-panel{
    background-color: #28D0DD;
    min-height: 300px;
    min-height: 300px;
    text-align: right;
    padding: 40px 20px 0px 20px;
}
.p-section-1-1 .services-panel h3{
    color: #FFFFFF;
}
.p-section-1-1 .services-panel p{
    color: #FFFFFF;
}

.p-section-1-1 .services-panel .row{
    width: 90%;
}
.p-section-1-1 .services-form{
    margin-top: 15px;
}
.p-section-1-1 .services-form .search-group{
    border: 1px solid #FF5440 !important;
    width: 85%;
}
.p-section-1-1 .services-form .search-group .form-control {
    border-radius: 0px !important;
    font-size: 15px;
    background-color: #FFFFFF;
    color: #707B7C !important;
}
.p-section-1-1 .services-form .search-group .search-button{
    background-color: #FF5440;
    border-radius: 0px !important;
    border: 0px !important;
    width: 30%;
    padding: 0;
}
.p-section-1-1 .services-form .search-group .search-button:hover{
    background: transparent;
    color: #FF5440;
}
.p-section-1-1 .services-form .search-group input#googlSearch {
    background-image: url('../img/pages/baron-palac/icons/google-maps.png');
    background-repeat: no-repeat;
    text-indent: 25px;
    background-position: 240px 0px;
}


.p-section-1-1 .panels2{
    margin-top: 50px;
}

.calendar-panel{
    min-height: 300px;
    text-align: right;
}

.calendar-panel h3, .procedures-panel .part-1  h3{
   color: #1034A6;
}

.panels2-p{
    margin-top: 50px;
}
.procedures-panel{
    min-height: 300px;
    text-align: right;
}

.procedures-panel p{
    color: #494444;
}
.procedures-panel .part-2  h3{
    color: #28D0DD;
}


.procedures-panel .part-2 #part-2-btn{
    background-color: #FF5440;
    border-radius: 0px;
    border: 0px;
}

.procedures-panel .part-2 #part-2-btn:hover{
    background-color: #1034A6;
    color: #FFFFFF;

}


.p-section-1-1 .selectpicker{
    border: 1px solid #FF5440 !important;
    border-radius: 0px !important;
    font-size: 12px;
}




/* ==========================================
    p-section-1-3
  ========================================== */

  .p-section-1-3{
    margin-top: 50px;
}
.p-section-1-3-header, .terms{
    text-align: right;
    margin-bottom: 20px;
    color: #3FD5DF;
}

.p-section-1-3-header p span{
    color: #000000;
    opacity: 50%;
}
.p-section-1-3 .terms {
    text-align: right;
    margin-bottom: 20px;
    color: #3FD5DF;
}

.p-section-1-3 .terms ul{
    margin-right: -20px;
    /* margin: 0;
    padding: 0; */
}

.p-section-1-3 .terms p{
    color: #000000;
    opacity: 50%;
}

.p-section-1-3 .terms ul li{
    text-align: right;
}

.p-section-1-3 .terms ul li::marker{
    color: #1034A6;
    font-size: 20px;
    padding: 0;
}

.main-end{
    height: 50px;
    /* margin-bottom: 50px; */
}

