.header-img {
    height: 75vh;
    min-height: 350px;
    /* background: no-repeat center center scroll; */
    background-image: url('../img/pages/buy-visit-permit/header/but-visit-permit.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.p-section-header-text{
    float: right;
    margin-top: 390px;
    margin-right: 100px;
    color: #FFFFFF;
}
/*p-section-1*/
.p-section-1{
    margin-top: 50px;
}

div.process{
    text-align: right;
}

/* div.process .fas{
    color: #1034A6 ;
} */
/* div.process .fas:hover{
    color: #FFFFFF !important;
} */

div.process table{
    width: 50%;
    display: inline-table;
    table-layout: fixed;
    
}

div.process table,  td{
    border: 1px solid #1034A6 !important;
    /* white-space: nowrap; */
}

div.process table td:hover{
    background-color: #1034A6;
    color: #FFFFFF !important;
}

td.content{
    display: flex;
}

div.process a{
    color: inherit;
    text-decoration: inherit;
} 
/*p-section-2*/
.p-section-2{
    margin-top: 50px;
}
.p-section-2-header{
    text-align: right;
    margin-bottom: 20px;
    color: #3FD5DF;
}


div.gallery{
    float: right !important;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 100%;
    overflow: hidden;
}
  
div.gallery .gallery-img{
    overflow: hidden;
}

div.gallery img {
    width: 100%;
    height: auto;
    transition: transform .25s;
}

div.gallery img:hover{
    transform: scale(1.25);
}

div.gallery div.caption {
    padding: 5px;
    text-align: center;
    background: #FAE168;
    color: #1034A6;
    font-size: 18px;
    z-index: 1;
    overflow: hidden;
}

div.gallery div.small-caption{
    position: absolute;
    top: 5px;
    right: 20px;
    text-align: center;
    font-size: 12px;
    width: 70px;
    height: 20px;
    padding: 1px;
}

div.gallery div.small-caption{
    background: #FAE168;
    color: #1034A6;
} 

div.gallery-1 div.caption, div.gallery-1 div.small-caption{
    background: #FAE168;
    color: #1034A6;
} 


div.gallery-2 div.caption, div.gallery-2 div.small-caption{
    background: #FF5440;
    color: #FFFFFF;
} 
div.gallery-3 div.caption, div.gallery-3 div.small-caption{ 
    background: #1034A6;
    color: #FFFFFF;
} 
div.gallery-4 div.caption, div.gallery-4 div.small-caption{
    background: #85C1E9;
    color: #FFFFFF;
} 


/*footer*/
footer{
    margin-top: 50px;
}


/*@media query*/
@media screen and (max-width: 1360px) {
    .carousel-caption-override{
        margin-bottom: -50px !important;
    }
    .img-part{
        margin-top: -46px;
    }
}
@media screen and (max-width: 800px) {
    .carousel-caption-override{
        right: 0% !important; 
    }

    .img-part{
        margin-top: 46px;
    }

    div.process table col{
        width: 150px !important;
        
    }
    div.process table td{
        font-size: 10px;        
    }

    /*fluid*/
    /* .top-header{
        padding-left: 0px !important;
        padding-right: 30px !important;
    } */
}