.header-img {
    /* background: no-repeat center center scroll; */
    background-image: url('../img/pages/change-password/img/hdr.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}


.overlay{
    /* background: url('../img/header/hdr-overlay.svg'); */
}



main{
    /* margin-bottom: 50px; */
     background: url('../img/main/section-bg.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 689px;
    background-position: bottom;
}





/* ==========================================
    p-section-1
  ========================================== */

  .p-section-1{
    margin-top: 50px;

}

.p-section-1 .header h3{
    text-align: right ;
    color: #28D0DC;
}
.p-section-1 .header {
    text-align: right ;
    color: #1034A6;
}


.p-section-1 .form{
    margin-top: 30px;
    /* margin-bottom: 150px; */
    color: #1034A6;
    text-align: right;
    height: 350px;
}

.p-section-1 .form .row{
    text-align: right !important;
}

.p-section-1 .form-control{
    margin-bottom: 30px;
    color: #1034A6 !important;
}
.p-section-1 .form-control{
    margin-bottom: 30px;
    color: #1034A6 !important;
    border: 1px solid #1034A6 !important;
    border-radius: 0px !important;
    /* font-size: 12px; */
}

.p-section-1 .form-buttons{
    text-align: left;
    margin-top: 5px;
}

.p-section-1 .form-buttons a{
    background-color: #1034A6;
    color: #FFFFFF;
    padding: 8px;
    width: 30%;
    border-radius: 0px;
}

.p-section-1 .form-buttons a.submit:hover{
    background-color: #FF5440 !important;
    color: #FFFFFF;
}

.modal-body{
    text-align: center;
    background-color: #1034A6;
    color: #FFFFFF;
    width:100;
    margin: 0px -40px 0px -40px;
}
.body-content{
    padding: 110px;
}

.main-end{
    height: 50px;
    /* margin-bottom: 50px; */
}
/*@media query*/
@media screen and (max-width: 600px) {
    .form{
        margin-bottom: 10px;
    }

}