@font-face {
    font-family: Hacen-Algeria;
    src: url('../font/hacen-algeria-401/alfont_com_AlFont_com_Hacen-Algeria-1.ttf');
}

body {
    margin: 0;
    font-family: Hacen-Algeria,Arial, Helvetica, sans-serif;

}


*{
    font-family:Hacen-Algeria !important;
}




/* ==========================================
    common on over all application
  ========================================== */


.p-section-header-text{
    text-align: right;
    position: absolute;
    bottom: 30px !important;
    color: #FFFFFF;
    z-index: 2;
}

.header-img {
    height: 350px;
    min-height: 350px;
}

.overlayed-hdr{
    position: relative;
    width: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url('../img/pages/contact-us/img/hdr-overlay.svg'); */
    /* opacity: 1; */
    z-index: 1;
}



.nav-tabs{
    padding-right: 0px !important;
    border: none !important;
}

.nav-tabs .tab-item{
    border: 1px solid #1034A6 !important;
    color: #1034A6 !important;
    text-align: right;
    width: 20%;
    /* padding: 10px 10px; */
    display: block;
    cursor: pointer;
}

.nav-tabs .tab-item:hover{
    background-color: #1034A6;
    color: #FFFFFF !important;
}

.nav-tabs .tab-item:hover #tab-icon{
    fill: #FFFFFF;
}
.nav-tabs .tab-item:hover a > span{
    color: #FFFFFF;
}

.nav-tabs .tab-item.active {
    background-color:#1034A6;
    color: #FFFFFF !important;
}
.nav-tabs .tab-item.active #tab-icon{
    fill: #FFFFFF;
}
.nav-tabs .tab-item.active a > span{
    color: #FFFFFF;
}


.nav-tabs a.tab-link {
    padding: 10px 10px;
    display: block;
    text-decoration: none !important;
    color: #1034A6 !important;
}

.nav-tabs a.tab-link #tab-icon{
    fill: #1034A6;
}


/* .nav-tabs a.tab-link:hover {
    color: #FFFFFF !important;
}

.nav-tabs a.tab-link:hover #tab-icon{
    fill: #FFFFFF;
}

.nav-tabs .tab-link.active {
    background-color:#1034A6;
    color: #FFFFFF !important;
}

.nav-tabs .tab-link.active #tab-icon{
    fill: #FFFFFF;
}  */



/*custom input icon/disable*/
.input-icons{
    text-align: left;
}

.input-icons img {
    position: absolute;
    padding: 10px;
    margin-right: -40px;
    cursor: pointer;
}

input:disabled {
    background: #FFFFFF !important;
}
.disabled-input{
    color: #8f9fcc !important;
}


.form-control{
    height: 40px !important;
}

.form-control{
    box-shadow: none !important;
    border: none !important;

}
.form-control:focus{
    box-shadow: none !important;
    border: none !important;
    color: #1034A6 !important;
}

.btn{
    border: none !important;
}
.btn:focus{
    box-shadow: none !important;
}

.number-control:focus-visible{
    outline:none !important
}

textarea:focus-visible{
    outline:none !important
}

/*Modal*/
.modal button{
    text-align: right;
    color: red;
    opacity: 100%;
    margin-right: -45px;
    width: 6%;
}
.modal button:focus{
    outline: none;
}


.modal-body{
    text-align: center;
    background-color: #1034A6;
    color: #FFFFFF;
    width:100;
    margin: 0px -40px 0px -40px;
}
.body-content{
    padding: 110px;
}

/*End of common*/

/*Header*/

.layer{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    /* height: 85vh; */
    /* height: 500px; */
    height: 650px;
    min-height: 350px;
    /* background: no-repeat center center scroll; */
    background-image: url('../img/header/layer.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    opacity: 50%;
}

.top-header{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    z-index: 1;
    padding-top: 20px;
}
.logo-container{
   float: right;
   vertical-align: middle;
}

/*NAV*/
.navbar{
    float: left;
}

/* #navbarCollapse{
    display: block !important;
} */


.navbar ul li{
    margin-right: 35px;
}

.nav-first-part {
    float: left;
}

.nav-first-part ul li{
    float: right;
    list-style: none;
}
.nav-first-part ul {
    display: inline-block !important;
}

.nav-link span{
    color: whitesmoke;
    font-size: 15px;
    font-family: Hacen-Algeria;
    cursor: pointer;
}

a.nav-link:hover {
    color: #FAE168 !important;
}
a.nav-link:hover span{
color: #FAE168 !important;
}
a.nav-link:hover #nav-icon{
   /* filter: invert(84%) sepia(99%) saturate(352%) hue-rotate(330deg) brightness(101%) contrast(96%); */
   fill: #FAE168;
}

.nav-first-part .search-box{
    /* width: fit-content; */
    height: fit-content;
    position: relative;
    margin-top: -3px;


}
.nav-first-part  .input-search{
    height: 31px;
    width: 36px;
    border-style: none;
    font-size: 16px;
    letter-spacing: 2px;
    outline: none;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    background: none;
    padding-left: 30px;
    padding-right: 5px;
    color:#fff;
}
.nav-first-part  .input-search::placeholder{
    color:rgba(255,255,255,.5) !important;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 100;
}
.nav-first-part  .btn-search{
    border-style: none;
    font-size: 17px;
    /* font-weight: bold; */
    outline: none;
    box-shadow: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;
}
.nav-first-part .btn-search:focus{
    outline: none !important
}
.nav-first-part  .btn-search:focus ~ .input-search{
    width: 180px;
    border-radius: 0px;
    background-color: transparent;
    border: 2px solid #ccc;

    /* border-bottom:1px solid rgba(255,255,255,.5); */
    /* transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); */
}
.nav-first-part  .input-search:focus{
    width: 180px;
    border-radius: 0px;
    background-color: transparent;
    /* border-bottom:1px solid rgba(255,255,255,.5); */
    border: 2px solid #ccc;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    -webkit-transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    -moz-transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    -ms-transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    -o-transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* this to remove search type style  specially x icon */

/* input[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance:none;
} */


.nav-first-part{
    /* margin-right: 27px; */
}

#language{
    position: relative;
    /* padding: 2px !important; */
}


  
#language-a .lang{
    padding: 2px;
}
 
#language .s { 
    position: absolute;
    width: 0px !important;
    opacity: 0; 
    /* display: none; */
}


/**order is matter*/
#language-a:focus .lang{
    border: 2px solid #ccc !important;

    /* transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out; */
}

#language-a:focus .s {
    position: relative;

    /* width: 100px; */
    padding: 0px 5px;
    opacity: 1;
    /* display:inherit; */

    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;

}​



.lang-tansition{   
    position: relative;

    width: 100px;
    padding: 0px 5px;
    opacity: 1;
    /* display:inherit; */

    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;

}​

.hidden{
    display: none !important;
}

.language{
    border: 2px solid #FFFFFF;
    
    /* padding: 4px; */
    /* margin-top: -3px; */
    /* padding: 2px; */
    /* font-size: 5px; */
}
.globe-icon{
    /* padding: 0px 5px; */
}
.ar{
    color: #FFFFFF;
    cursor: pointer;
    /* padding: 5px; */
}
.en{
    color: #FFFFFF;
    cursor: pointer;
    /* padding: 5px; */
}
.pipe{
    color: #FFFFFF;
}

.ar, .en, .pipe{
    opacity: 0;
}

.language i{
    color: #FFFFFF;
}

.ar:hover, 
.en:hover{
    color: #28D0DC;
}

.lang-selected{
    color: #28D0DC;
}


.showElement{
    opacity: 1;
}

/*Cart*/
.badge {
    padding-left: 9px;
    padding-right: 9px;
    /* -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px; */
    border-radius: 50% !important;
    font-size: 10px;
    font-weight: normal !important;
    margin-right: -26px;
  }

  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      opacity: 0;
      font-size: 12px;
      background: #ff0000;
      backface-visibility: hidden;
      color: #fff;
      padding: 0 4px;
      vertical-align: top;
      /* margin-left: 8px !important; */
      /* margin-left: -10px;  */
  }

.showCart{
    opacity: 1 !important;
    z-index: 5 !important;
}


.nav-second-part{
    float: left;
}

@media (min-width: 768px){
    #navbarCollapse{
    display: block !important;
    }
}

@media screen and (max-width: 768px) {


    .navbar{
        display: block !important;
        width: 310px;
        z-index: 100 !important;
    }
    
    .navbar-light .navbar-toggler {
        border: none;
    }

    .navbar-light .navbar-toggler:focus{
        outline: none !important;
    }

    .navbar-light .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }

    .collapse{
        background-color: #1034A6;
        padding: 18px;
        z-index: 100 !important;
    }
    
    .navbar ul li{
        margin-right: 0;
    }
    
    /* #navbarCollapse{
        display: flex !important;
    } */
    
    .nav-item{
        margin-bottom: 15px;
    }
    

    .nav-first-part{
       margin-bottom: -10px;
       float: none;
       /* margin-right: 0px; */
    }

    .nav-first-part ul{
        display: block;
        padding: 0 ;
    }

    #search-a{
        margin-bottom: 5px;
    }

    .nav-first-part  .input-search{
        
    }

    .nav-first-part .input-search{
        height: 35px;
        width: 240px;
        border-radius: 0px;
        background-color: transparent;
        border: 1px solid #ccc;
    }
    .nav-first-part  .input-search:focus{
        width: 240px;
        border-radius: 0px;
        background-color: transparent;
        /* border-bottom:1px solid rgba(255,255,255,.5); */
        border: 1px solid #ccc;
        transition:none;
       
    }

    .nav-first-part .btn-search{
        margin-top: -2px;
        font-size: 23px;
    }
    

    #language-a .lang{
        border: 1px solid #FFFFFF;
        /* opacity: 1; */
        padding: 7px;
        margin-left: 25px;
        font-size: 12px;
    }

    
    #language-a:focus .lang{
        border: 1px solid #FFFFFF !important;
    }
    
    #language-a .s{
        position: relative;
        opacity: 1;
        width: 100px;
        padding: 6px;

    }
    #language-a:focus .s {
        opacity: 1;
        padding: 6px;
        /* display:inherit; */
        transition:none;
    
    }​
    /* #language > .ar,
    #language > .en,
    #language > .pipe{
        opacity: 1;
    } */

    #cart-a{
        padding: 0 10px;
    }


    
    #login-a{
        padding-right: 24px
    }

    .tasgeel{
        display: none;
    }


    .nav-second-part{
        direction: ltr;
        /* float: right; */
        float: none;
        text-align: -webkit-right
    }
}

@media screen and (max-width: 400px) {
    #language-a .s {
        position: relative;
        opacity: 1;
        width: 100px;
        padding: 4px;
    }

    .nav-first-part .btn-search{
        margin-left: -15px;
    }
    
}

/* ==========================================
    Main Section
  ========================================== */
.content {
    padding-top: 10px;
    padding: 10px;
    /* margin: -110px 100px 0 100px;
    background-color: #ffffff; */
}


/* ==========================================
    service list Section
  ========================================== */
.nav-icon-service{
    background-color: #ffffff;
    margin-top: -100px;
    position: relative;
    z-index: 2;
    text-align: center;
    /* border: solid thin #DDD; */
    box-shadow: 0px 1px 1px 1px #DDDDDD;
}
.box-nav{
    padding: 45px 0px;
    transition: background-color 0.5s;
    cursor: pointer;
    width: 100%;
    height: 210px;
}
.box-nav-line{
    border-left: solid 2px #DDDDDD;
    padding: 10px 22px;
}

.box-nav-text{
    transition: margin-top 0.25s;
}

/*box hover*/


.box-nav .box-icon{
    width: 60px !important;
    height: 50px !important;
    display: inline-table !important;
    background-size: 45px !important;
}

.box-nav:hover  .box-icon{
    margin-top: -50px !important;
    width: 60px !important;
    height: 50px !important;
    display: inline-table !important;
    background-size: 45px !important;

}

.box-nav-1 .box-icon{
    background: url("../img/icons/main/id.png") no-repeat center;
}
.box-nav-1:hover .box-icon{
    background: url("../img/icons/main/id2.png") no-repeat center !important;
    background-size: 45px !important;
}

.box-nav-2 .box-icon{
    background: url("../img/icons/main/privete.png") no-repeat center;
}
.box-nav-2:hover .box-icon{
    background: url("../img/icons/main/privete2.png") no-repeat center !important;
    background-size: 45px !important;
}

.box-nav-3 .box-icon{
    background: url("../img/icons/main/camera\ man.png") no-repeat center;
}
.box-nav-3:hover .box-icon{
    background: url("../img/icons/main/camera\ man2.png") no-repeat center !important;
    background-size: 45px !important;
}

.box-nav-4 .box-icon{
    background: url("../img/icons/main/camera.png") no-repeat center;
}
.box-nav-4:hover .box-icon{
    background: url("../img/icons/main/camera2.png") no-repeat center !important;
    background-size: 45px !important;
}

.box-nav-5 .box-icon{
    background: url("../img/icons/main/video.png") no-repeat center;
}
.box-nav-5:hover .box-icon{
    background: url("../img/icons/main/video2.png") no-repeat center !important;
    background-size: 45px !important;
}

.box-nav-6 .box-icon{
    background: url("../img/icons/main/dance.png") no-repeat center;
}
.box-nav-6:hover .box-icon{
    background: url("../img/icons/main/dance2.png") no-repeat center !important;
    background-size: 45px !important;
}



.box-nav-1:hover{
    background-color: #FF5440;
    color: #ffffff;

}
.box-nav-1:hover a{
    background-color: #1034A6;
    color: #ffffff;
}

.box-nav-2:hover{
    background-color: #1034A6;
    color: #ffffff;

}
.box-nav-2:hover a{
    background-color: #FAE168;
    color: #ffffff;
}
.box-nav-3:hover{
    background-color: #FAE168;
    color: #ffffff;

}
.box-nav-3:hover a{
    background-color: #FF5440;;
    color: #ffffff;
}
.box-nav-4:hover{
    background-color: #3FD5DF;
    color: #ffffff;

}
.box-nav-4:hover a{
    background-color: #FAE168;
    color: #ffffff;
}
.box-nav-5:hover{
    background-color: #FF5440;
    color: #ffffff;

}
.box-nav-5:hover a{
    background-color: #1034A6;
    color: #ffffff;
}
.box-nav-6:hover{
    background-color: #1034A6;
    color: #ffffff;

}
.box-nav-6:hover a{
    background-color: #FAE168;
    color: #ffffff;
}

/* .box-nav:hover  .img{
    margin-top: -50px !important;
} */
.box-nav:hover  .box-nav-text{
    margin-top: -10px !important;
}
.box-nav:hover  .box-nav-line{
    border-left: none;
}
.box-nav:hover  a{
   display: inline-block !important;
   border: none;
   margin-bottom: -50px;
}

.line-remove{
    border-left: none;
}
.box-nav i{
    font-size: 30px;
}

.box-nav .box-nav-text{
    width: 100%;
    padding: 5px 27px;
    font-size: 15px !important;
    font-weight: 600;
}

.box-nav-line a{
    position:sticky;
    width: 100%;
    border-radius: 0;
    border: none;
    display: none;
    font-size: 15px;
}


/* ==========================================
    Section-2
  ========================================== */
.section-2{
    margin-top: 100px;
	overflow: hidden;
}
.text-part{
    text-align: right;
    background-color: #FAE168;
    padding: 60px;
    margin-top: 30px;
    height: 449px;
}
.text-part h1{
    margin-top: 80px;
    color: #FF5440;
}
.text-part p{
    font-size: 20px;
}
.text-part img{
    width: 100%;
    height: auto;
}
.img-part{
    margin-top: -40px;
    overflow: hidden;
}
.img-part img{
    height: 551px;
    width: 100%;
    transition: transform 0.5s; /* Animation */
}
.img-part img:hover{
    transform : scale(1.1);

}

.text-part-col{
    z-index: 1;
}


/* ==========================================
    section-3
  ========================================== */
.section-3{
    margin-top: 100px;
}
.section-3-header{
    text-align: center;
    margin-bottom: 20px;
}
.section-3-header h1{
    color: #1034A6;
}


/* .owl-carousel .item{
    overflow: hidden;
}
.item-img{
    overflow: hidden;
}
.owl-carousel .item img{
    transition: transform .25s;
}

.owl-carousel .item img:hover{
    transform: scale(1.25);
}

.item-small-caption{
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    width: 70px;
    height: 20px;
}


.item-caption{
    text-align: center;
    font-size: 18px;
    z-index: 1;
}

.item-1 .item-caption, .item-1 .item-small-caption {
    background: #FAE168;
    color: #1034A6;
}
.item-2 .item-caption, .item-2 .item-small-caption {
    background: #FF5440;
    color: #FFFFFF;
}
.item-3 .item-caption, .item-3 .item-small-caption {
    background: #1034A6;
    color: #FFFFFF;
}
.item-4 .item-caption, .item-4 .item-small-caption {
    background: #3FD5DF;
    color: #FFFFFF;
}  */

/*Owl carsouel configurations*/
/* .owl-prev {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 40%;
    left: -30px;
    display: block !important;
    border:1px solid #FF5440 !important;
    border-radius: 0px !important;
}

.owl-next {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 40%;
    right: -30px;
    border:1px solid #FF5440 !important;
    border-radius: 0px !important;

}
.owl-prev i, .owl-next i {transform : scale(1.2); color: #85C1E9}

.owl-prev:hover{
    background: #FF5440 !important;
}
.owl-next:hover{
    background: #FF5440 !important;
}
.owl-prev:hover i,
.owl-next:hover i{
    color: #ffffff;
}

.owl-next:focus, .owl-prev:focus {outline: none;} */


.section-3-button{
    text-align: center;
}

.section-3-button a{
    border: none;
    border-radius: 0px !important;
    background-color: #3FD5DF;
    color: #ffffff !important;
}
.section-3-button a:hover{
    background-color: #1034A6 !important;
}


/*section-4*/
.section-4-content{
    overflow: hidden;
    margin-top: 100px;
    height: 80vh;
    background-image: url('../img/main/section-4/7.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.text-part-4{
    text-align: right;
    padding: 60px;
    margin-top: 100px;
}
.text-part-4 h1{
    color: #1034A6;
}
.text-part-4 p{
    font-size: 20px;
    opacity: 80%;
}

.bg-blue{
    background-color: #1034A6 !important;
}



/*Login form*/


.modal-content{
    background: none !important;
    border: none !important;
}

.login-form {
    background: #fff;
    width: 500px;
    min-height: 400px;
    padding: 0px 50px;
    margin: 65px auto;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 0;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    /* box-sizing: border-box; */
    direction: ltr;
}

  .login-form form{
    text-align: center;
  }

  .login-form h2 {
    padding: 50px 35px 0 35px;
    margin-bottom: -10px;
    font-weight: 300;
    color: #1034A6;
  }
  .login-form .content {
    padding: 10px 35px;
    text-align: right;
  }

  .login-form .input-field {
    padding: 5px 5px;
  }

  .login-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 2px solid #FF5440;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-align: right;
    color: #1034A6;
  }

  .login-form .input-field input:focus {
    border-color: #FF5440;
  }
  .login-form a.link {
    text-decoration: none;
    color: #28D0DC;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
  }

  ::placeholder {
    color: #1034A6 !important;
    opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1034A6 !important;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
    color: #1034A6 !important;
    }

  .login-form .form-check label{
    color: #28D0DC;
  }

  /* pretty radio */
  .login-form label > input[type="checkbox"] {
    display: none;
  }
  .login-form label > input[type="checkbox"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    margin-bottom: 5px;
    border-radius: 0%;
    border: 1px solid #28D0DC;
    flex-shrink: 0;
  }
  .login-form label > input[type="checkbox"]:checked + * {
    color: #FFFFFF;
  }
  .login-form label > input[type="checkbox"]:checked + *::before {
    content: '\2714';
    color: #28D0DC;
    text-align: center;
    /* background: teal; */
    border-color: #28D0DC;
    /* padding: 1px 1px; */
    line-height: 15px;
  }


  .login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 0px 25px;
    margin-top: 20px;

  }
  .login-form .action a {
    width: 80%;

    border: none;
    padding: 10px 10px;
    margin: 0px 15px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #BCBCBC;
    color: #FFF;
    border-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    text-decoration: none;
    /* -webkit-transition: all .3s;
    transition: all .3s; */

  }
  .login-form .action a:hover {
    background: #1034A6;
    color: #fff !important;
  }
  .login-form .action a:nth-child(2) {
    background: #1034A6;
    color: #FFFFFF;
    border-radius: 0;
  }
  .login-form .action a:nth-child(2):hover {
    background: #FF5440;
  }

  .login-form .forget{
    text-align: right;
    padding: 0px 39px;
    margin-top: -10px;
  }



/*Footer*/

footer section{
    padding-top: 50px;
}
footer .row > div{
    direction: ltr;
}

footer .row > :last-child{
    direction: rtl;
}

.footer-logo-container img{
    padding: 10px;
    text-align: center;
}
.v-logo{
    padding: 30px;
    margin-bottom: 10px;
}
.footer-logo-container p{
    margin-left: 28px;
    margin-bottom: 7px;
}

.footer-logo-container img{
    margin-top: -19px;
}

.social{
    width: 40px !important;
    height: 40px !important;
    padding: 3px !important;
}


.float-right{
    float: right !important;
}

.float-left{
    float: left !important;
}
.text-align-right p{
    text-align: right !important;
    text-align: justify;
    text-justify: inter-word;
}

.pp{
    font-size: 20px;
}

.text-center{
    text-align: center !important;
}
.site-red{
    color: #FF5440;
}
.site-yellow{
    color: #FAE168;
}
.site-blue{
    color: #1034A6;
}


/*@media query*/
@media screen and (max-width: 1360px) {
    .carousel-caption-override{
        margin-bottom: -50px !important;
    }
    .img-part{
        margin-top: -46px;
    }

}
@media screen and (max-width: 800px) {
   

    .carousel-caption-override{
        right: 0% !important;
    }

    .img-part{
        margin-top: 46px;
    }

     

    /* PADDING */
    /* .navbar-collapse.show {
        padding-top: 30px;
    } */

     #navbarNav{
        background-color: #1034A6 !important;
        /* width: 400px !important; */
        padding: 10px;
    }

    #loginModal {
       /* padding-left: 100px;
       margin-left: 50px; */
     }


     .logo-container{
         margin-right: 10px;
     }

     #language{
         font-size: 10px;
         padding: 8px 5px;
     }

     .carousel-caption {
         padding-bottom: 90px !important;
         margin-left: 25px;

     }
     .carousel-caption h1,
     .carousel-caption h2{
         font-size: 18px !important;

     }

     .main{
        background-size: 100% 190px;
     }
     .modal{
        width: 85% !important;
        /* height: 80 !important; */
        left: 8% !important;
    }
    .body-content {
        padding: 40px;
    }
    .modal .form-buttons a{
        font-size: 14px;
        padding: 0;
        /* width: 130px !important; */
        /* margin-right: -25px !important; */

    }

    .modal .login-form{
        width:inherit;
        padding: 0;
    }
    .modal .login-form .action{
        padding: 0;
        margin-left: 18px
    }

    .modal .login-form .action a{
        padding: 5px 10px;
        margin: 0px;
        width: 90px;
        font-size: 15px;
        margin-left: 33px;
    }

    .modal button {
        width: 15%;
    }



    .section-2 .img-part img {
        height: 340px;
    }
}

@media screen and (max-width: 600px) {

    footer .row > div {
        /* padding-right: 80px; */
        direction: rtl;
    }
    footer .row > :last-child{
        direction: rtl;
    }

    footer .row > :last-child > ul{
        float: right !important;
    }

    .modal button{
        margin-right: -15px;
    }


    /* PADDING */
    /* .navbar-collapse.show {
        padding-top: 30px;
    } */

    #loginModal {
       /* padding-left: 100px;
       margin-left: 50px; */
     }


     .logo-container{
         margin-right: 10px;
     }


     .carousel-caption {
         padding-bottom: 90px !important;
         margin-left: 25px;

     }
     .carousel-caption h1,
     .carousel-caption h2{
         font-size: 18px !important;

     }

     .main{
        background-size: 100% 190px;
     }
     .modal{
        width: 85% !important;
        /* height: 80 !important; */
        left: 8% !important;
    }
    .body-content {
        padding: 40px;
    }
    .modal .form-buttons a{
        font-size: 14px;
        padding: 0;
        /* width: 130px !important; */
        /* margin-right: -25px !important; */

    }

    .modal .login-form{
        width:inherit;
        padding: 0;
    }
    .modal .login-form .action{
        padding: 0;
        margin-left: 18px
    }

    .modal .login-form .action a{
        padding: 5px 10px;
        margin: 0px;
        width: 90px;
        font-size: 15px;
        margin-left: 33px;
    }

    .modal button {
        width: 15%;
    }



    

    
    .section-2 .img-part img {
        height: 340px;
    }
}

@media screen and (max-width: 500px) {

   
    /* PADDING */
    /* .navbar-collapse.show {
        padding-top: 30px;
    } */

    
    
    #loginModal {
       /* padding-left: 100px;
       margin-left: 50px; */
     }


     .logo-container{
         margin-right: 10px;
     }


     .carousel-caption {
         padding-bottom: 90px !important;
         margin-left: 25px;

     }
     .carousel-caption h1,
     .carousel-caption h2{
         font-size: 18px !important;

     }

     .main{
        background-size: 100% 190px;
     }
     .modal{
        width: 85% !important;
        /* height: 80 !important; */
        left: 8% !important;
    }
    .body-content {
        padding: 40px;
    }
    .modal .form-buttons a{
        font-size: 14px;
        padding: 0;
        /* width: 130px !important; */
        /* margin-right: -25px !important; */

    }

    .modal .login-form{
        width:inherit;
        padding: 0;
    }
    .modal .login-form .action{
        padding: 0;
        margin-left: 18px
    }

    .modal .login-form .action a{
        padding: 5px 10px;
        margin: 0px;
        width: 90px;
        font-size: 15px;
        margin-left: 33px;
    }

    .modal button {
        width: 15%;
    }



    
}