.header-img {
    /* background: no-repeat center center scroll; */
    background-image: url('../img/pages/profile/img/hdr.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.overlay{
    /* background: url('../img/header/hdr-overlay.svg'); */
}

main{
    /* margin-bottom: 50px; */
    background: url('../img/main/section-bg.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 689px;
    background-position: bottom;
}

/* ==========================================
    common on all section
  ========================================== */

.form-control{
    height: 38px !important;
}

.disabled-link {
    pointer-events: none !important;
    opacity: 30%;
  }

/* ==========================================
    p-section-1
  ========================================== */

.p-section-1{
    margin-top: 50px;
   
}



/*drop down selects*/
.dropdowns-nav{
    background-color: #F2FDFD;
    margin-bottom: 20px;
}

.dropdowns-nav .row{
    text-align: right;
}

.dropdowns-nav .row label{
    font-size: 15px;
    padding: 10px 14px;
    color: #1034A6;
}

  
.selectdiv {
    /* direction: ltr; */
    position: relative;
    /*Don't really need this just for demo styling*/
    float: right;
    min-width: 200px;
    /* margin: 50px 33%; */
}
  
  /* IE11 hide native button (thanks Matt!) */
  select::-ms-expand {
  display: none;
  }
  
  .selectdiv:after {
    content: '<';
    font: 17px "Consolas", monospace;
    color: #ffffff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 30px;
    /*Adjust for position however you want*/
    
    top: 19px;
    padding: 0 6px 0 2px;
    
    /*left line */
    
    position: absolute;
    pointer-events: none;
  }
  
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    
    display: block;
    width: 90%;
    max-width: 320px;
    height: 45px;
    float: right;
    margin: 5px 0px;
    padding: 0px 20px 0px 20px;
    font-size: 16px;
    line-height: 1.75;
    color: #ffffff;
    background-color: #FF5440;
    background-image: none;
    /* border: 1px solid #cccccc; */
    border: none !important;
    -ms-word-break: normal;
    word-break: normal;
  }
  
  .selectdiv select:focus{
    box-shadow: none !important; 
    border: none !important; 
    outline: none;
  }
  
  .selectdiv select > option{
    background-color: #ffffff;
    color: #FF5440;
  }



/* ==========================================
    p-section-1-1
  ========================================== */

.p-section-1-1{
    margin-top: 50px;
    overflow-x: auto;
}


.p-section-1-1 .form,
.p-section-1-2 .form{
    margin-bottom: 30px;
}
.p-section-1-1 .search-group,
.p-section-1-2 .search-group{
    border: 1px solid #FF5440 !important;
}
.p-section-1-1 .search-group .form-control,
.p-section-1-2 .search-group .form-control {
    border-radius: 0px !important;
    font-size: 12px;
  }

.p-section-1-1 .search-group .form-control:focus,
.p-section-1-2 .search-group .form-control:focus {
    background: white;
    border-radius: 1px solid #FF5440 !important;
}
.p-section-1-1 .search-group .search-button,
.p-section-1-2 .search-group .search-button{
    background-color: #FF5440;
    border-radius: 0px !important;
    border: 0px !important;
    width: 15%;
    padding: 0;
    
}


.p-section-1-1 .form-control,
.p-section-1-2 .form-control{
    margin-bottom: 30px;
    color: #FF5440 !important;
}


.dropdowns-nav{
    background-color: #F2FDFD;
    margin-bottom: 20px;
}

.dropdowns-nav .row{
    text-align: right;
    
}

.dropdowns-nav .row > div{
    padding-right: 0px !important;
}

.dropdowns-nav .row label{
    font-size: 15px;
    padding: 10px 14px;
    color: #1034A6;
}

  


/*shared over tables*/
.icons{
    padding-right: 9px;
}

 a,
 .icons a,
 .icons2 a{
    text-decoration: none !important;
    display:inline-grid;
}

 .icons img,
 .icons2 img{
    text-decoration: none !important;
    display:inline-grid;
    margin-right: 5px;
}

 .icon-label{
    opacity: 0;
    /* width: 40px; */
    font-size: 8px;
    color: #1034A6;
}

 .blue-lbl{
    color: #1034A6 !important;
}
 .red-lbl{
    color: #FF5440 !important;
}
 .icons a:hover .icon-label{
    opacity: 100%;
}

 .icons2 a:hover .icon-label{
    opacity: 100%;
}
a:hover .icon-label{
    opacity: 100%;
}


.p-section-1-1 table{

    width: 100%;
    text-align: center;
    table-layout: fixed;
}  
.p-section-1-1 table tr:nth-child(1){
    background-color: #1034A6;
    color: #FFFFFF;
}


.p-section-1-1 table tr{
    background-color: #FFFFFF;
    color: #1034A6;
}
  

.p-section-1-1 table th{
    padding: 20px 5px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 100;
    border-right: 1px solid gray;
    width: 100% !important;
}

.p-section-1-1 table tr:nth-child(even) {
    background-color:  #EBF5FB;
    color: #FF5440;
} 

.p-section-1-1 table tr:nth-child(odd) {
    border: 1px solid #1034A6 !important;
} 

.p-section-1-1 table tr:nth-child(odd) td{
    border-top: 1px solid #1034A6 !important;
    border-bottom: 1px solid #1034A6 !important;

} 

.p-section-1-1 table td:nth-child(3){
    text-align: right;
}

/* .p-section-1-1 table td:nth-child(8){
    text-align: right; 
} */

.p-section-1-1 table td{
    padding: 5px 5px;
    vertical-align: middle;
    font-size: 14px;
   
   
}


.p-section-1-1 table td p{
    margin-bottom: 0px;
    padding: 0px 9px !important;
}


.p-section-1-1 table td a:nth-child(1){
    margin-left: -9px;
}


.p-section-1-1 table td .icons2 a{
    margin-right: 10px;
    text-decoration: none;
    display:inline-grid;
}


.p-section-1-1 table td.click-here a{
    color: #1034A6 !important;
    text-decoration: underline !important;
}

.p-section-1-1 .question-lbl{
    color: #FFFFFF !important;
}
.p-section-1-1 table .pistache-cell{
    background-color: #28D0DD;
    color: #FFFFFF;
}

.p-section-1-1 table .red-cell{
    background-color: #FF5440;
    color: #FFFFFF;
}

.p-section-1-1 table .check-icon{
    margin-top: 40px;
}

.p-section-1-1 table td.pistache-cell  img:nth-child(1){
    margin-left: 0px !important;
}




/* ==========================================
    p-section-1-2
  ========================================== */
.p-section-1-2{
    margin-top: 50px;
}

.p-section-1-2 table{
    width: 100%;
    text-align: center;
    table-layout: fixed;
}  
.p-section-1-2 table tr:nth-child(1){
    background-color: #1034A6;
    color: #FFFFFF;
}


.p-section-1-2 table tr{
    background-color: #FFFFFF;
    color: #1034A6;
}
  

.p-section-1-2 table th{
    padding: 20px 5px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 100;
    border-right: 1px solid gray;
    width: 100% !important;
}

.p-section-1-2 table tr:nth-child(even) {
    background-color:  #EBF5FB;
    color: #FF5440;
} 

.p-section-1-2 table tr:nth-child(odd) {
    border: 1px solid #1034A6 !important;
} 

.p-section-1-2 table tr:nth-child(odd) td{
    border-top: 1px solid #1034A6 !important;
    border-bottom: 1px solid #1034A6 !important;

} 

.p-section-1-2 table td:nth-child(3){
    text-align: right;
}

/* .p-section-1-2 table td:nth-child(8){
    text-align: right; 
} */

.p-section-1-2 table td{
    padding: 20px 5px;
    vertical-align: middle;
    font-size: 14px;
}


.p-section-1-2 table td p{
    margin-bottom: 0px;
    padding: 0px 9px !important;
}

.p-section-1-2 table td .icons a{
    margin-right: 10px;
    text-decoration: none;
    display:inline-grid;
}

.p-section-1-2 table td a:nth-child(1){
    margin-left: -9px;
}

.p-section-1-2 table td .icons2 a{
    margin-right: 10px;
    text-decoration: none;
    display:inline-grid;
}


.p-section-1-2 table td.click-here a{
    color: #FF5440;
    text-decoration: underline !important;
}





/* ==========================================
    p-section-1-3
  ========================================== */

.p-section-1-3{
    margin-top: 50px;
}


.p-section-1-3 .sub-nav-tabs{
    padding-right: 0px !important;
    margin-bottom: 50px;
    border: 1px solid #FF5440 !important;
}

.p-section-1-3 .sub-nav-tabs .tab-item{
    text-align: center;
    width: 25%;
    padding: 8px;
    font-size: 15px;
}



.p-section-1-3 .sub-nav-tabs a.tab-link {
    padding: 1px 15px;
    display: block;
    text-decoration: none !important;
    color: #1034A6 !important;
}


.p-section-1-3 .sub-nav-tabs a.tab-link{
    color: #FF5440 !important;
    border-left: 1px solid #FF5440;
}

.p-section-1-3 .sub-nav-tabs a.tab-link:hover {
    background-color: #FF5440;
    color: #FFFFFF !important;
}


.p-section-1-3 .sub-nav-tabs .tab-link.active{
    background-color:#FF5440;
    color: #FFFFFF !important;
}


.remove-border{
    border: 0 !important;
}

/*tab1*/

.p-section-1-3-1 .form{
    margin-bottom: 30px;
    color: #1034A6;
}

.p-section-1-3-1 .form .row{
    text-align: right !important;
}


.p-section-1-3-1 .form-control {
    margin-bottom: 30px;
    color: #1034A6;
    border: 1px solid #1034A6 !important;
    border-radius: 0px !important;
    /* opacity: 50%; */
    font-size: 12px;
}



.p-section-1-3-1 .form-control #visitDate{
    opacity: 100% !important;
}



.p-section-1-3-1 .form-check .form-check-label{
    padding-right: 15px;
    color: #1034A6;
}
.p-section-1-3-1 .form-check .form-check-label a{
    color: #1034A6;
    text-decoration: underline;
}



.p-section-1-3-1 .custom-file{
    direction: ltr;
    text-align: center;
    border: 1px solid#8f9fcc;
    min-width: 100px;
}

.p-section-1-3-1  #file-lbl{
    display: block;
    background-color: #1034A6;
    color: white;
    padding: 6px;
    border-radius: 0;
    cursor: pointer;
    margin-top: -38px;
    width: 140px;
}

.edit > a{
    float: left;
}

.p-section-1-3-1 .form-buttons{
    text-align: center;
    margin-top: 50px;
}

.p-section-1-3-1 .form-buttons a{
    background-color: #1034A6;
    color: #FFFFFF;
    padding: 8px;
    width: 15%;
    border-radius: 0px;
    min-width: 100px;
}

.p-section-1-3-1 .form-buttons a.save{
    background-color: #BCBCBC !important;
    color: #FFFFFF;
}

.p-section-1-3-1 .form-buttons a.save:hover{
    background-color: #1034A6 !important;
    color: #FFFFFF;
}

.p-section-1-3-1 .form-buttons a.submit:hover{
    background-color: #FF5440 !important;
    color: #FFFFFF;
}


/*tab2*/ /*table*/ 

.p-section-1-3-2 table{
    width: 100%;
    text-align: center;
    table-layout: fixed;
}  
.p-section-1-3-2 table tr:nth-child(1){
    background-color: #1034A6;
    color: #FFFFFF;
}


.p-section-1-3-2 table tr{
    background-color: #FFFFFF;
    color: #1034A6;
}
  

.p-section-1-3-2 table th{
    padding: 20px 5px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 100;
    border-right: 1px solid gray;
    width: 100% !important;
}

.p-section-1-3-2 table tr:nth-child(even) {
    background-color:  #EBF5FB;
    color: #FF5440;
} 

.p-section-1-3-2 table tr:nth-child(odd) {
    border: 1px solid #1034A6 !important;
} 

.p-section-1-3-2 table tr:nth-child(odd) td{
    border-top: 1px solid #1034A6 !important;
    border-bottom: 1px solid #1034A6 !important;

} 

.p-section-1-3-2 table td{
    padding: 20px 5px;
    vertical-align: middle;
    font-size: 14px;
}


.p-section-1-3-2 table td p{
    margin-bottom: 0px;
    padding: 0px 9px !important;
}

.p-section-1-3-2 table td .icons a{
    margin-right: 10px;
    text-decoration: none;
    display:inline-grid;
}

.p-section-1-3-2 table td a:nth-child(1){
    margin-left: -9px;
}

.p-section-1-3-2 table td .icons2 a{
    margin-right: 10px;
    text-decoration: none;
    display:inline-grid;
}


.p-section-1-3-2 table td.click-here a{
    color: #FF5440;
    text-decoration: underline !important;
}



/*tab3*/ /*table*/ 

.p-section-1-3-3 .table-lbl{
    text-align: right;
    color: #FF5440;
    margin-bottom: 20px;
}
.p-section-1-3-3 table{
    width: 100%;
    text-align: center;
    table-layout: fixed;
}  


.p-section-1-3-3 table tr{
    background-color: #FFFFFF;
    color: #1034A6;
    
}
  

.p-section-1-3-3 table tr:nth-child(odd) {
    background-color:  #FFFCEF;
    color: #1034A6;
} 



.p-section-1-3-3 table td{
    padding: 20px 5px;
    vertical-align: middle;
    font-size: 14px;
    border: none !important;
    width: 100%;
}


.p-section-1-3-3 table td p{
    margin-bottom: 0px;
    padding: 0px 9px !important;
}

.p-section-1-3-3 table td .icons a{
    margin-right: 10px;
    text-decoration: none;
    display:inline-grid;
}




.p-section-1-3-3 table .cancel-request-small-icon{
    font-size: 10px;
    color: #FF5440;
    text-decoration: underline !important;
}





.p-section-1-3 .modal-body{
    text-align: center;
    background-color: #1034A6;
    color: #FFFFFF;
    width:100;
    margin: 0px -40px 0px -40px;
}
.p-section-1-3 .body-content{
    padding: 60px;
}


/*tab4 and help tab*/ 
.p-section-1-3-4 .notifications,
.p-section-1-4 .notifications{
    background-color: #1034A6;
    text-align: right;
}
.p-section-1-3-4 .notifications p,
.p-section-1-4 .notifications p{
    padding: 15px 10px;
   color: #FAE168;
}
.chat-search-box {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
    padding: .75rem 1rem;
}

.chat-search-box .input-group .form-control {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    border-right: 0;
}

.chat-search-box .input-group .form-control:focus {
    border-right: 0;
}

.chat-search-box .input-group .input-group-btn .btn {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    margin: 0;
}

.chat-search-box .input-group .input-group-btn .btn i {
    font-size: 1.2rem;
    line-height: 100%;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .chat-search-box {
        display: none;
    }
}




/************************************************
	************************************************
									Chat right side
	************************************************
************************************************/

.selected-user {
    width: 100%;
    padding: 0 15px;
    min-height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #e6ecf3;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.selected-user span {
    line-height: 100%;
}

.selected-user span.name {
    font-weight: 700;
}

.chat-container {
    position: relative;
    padding: 1rem;
}

.chat-container li.chat-left,
.chat-container li.chat-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 40px;
}

.chat-container li img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.chat-container li .chat-avatar {
    margin-right: 20px;
}

.chat-container li.chat-right {
    justify-content: flex-end;
}

.chat-container li.chat-right > .chat-avatar {
    margin-left: 20px;
    margin-right: 0;
}

.chat-container li .chat-name {
    font-size: .75rem;
    color: #999999;
    text-align: center;
}

.chat-container li .chat-text {
    padding: .4rem 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: 300;
    line-height: 150%;
    position: relative;
    text-align: right;
}

.chat-container li .chat-text p {
    margin: 0px !important;
}
.chat-container li .chat-hour {
    padding: 0;
    font-size: 14px;
    color: #AEB8C0;
}



.chat-container li.chat-right .chat-text {
    background: #F2F4FB;
}

.chat-container li.chat-left .chat-text  {
    background: #F2FDFD;
}

.chat-container li.chat-left .chat-text .chat-hour {
    float: left;
}






@media (max-width: 767px) {
    .chat-container li.chat-left,
    .chat-container li.chat-right {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .chat-container li img {
        width: 32px;
        height: 32px;
    }
    .chat-container li.chat-left .chat-avatar {
        margin: 0 0 5px 0;
        display: flex;
        align-items: center;
    }
    .chat-container li.chat-left .chat-hour {
        justify-content: flex-end;
    }
    .chat-container li.chat-left .chat-name {
        margin-left: 5px;
    }
    .chat-container li.chat-right .chat-avatar {
        order: -1;
        margin: 0 0 5px 0;
        align-items: center;
        display: flex;
        justify-content: right;
        flex-direction: row-reverse;
    }
    .chat-container li.chat-right .chat-hour {
        justify-content: flex-start;
        order: 2;
    }
    .chat-container li.chat-right .chat-name {
        margin-right: 5px;
    }
    .chat-container li .chat-text {
        font-size: .8rem;
    }
}


.chat-form {
    background: #F2FDFD;
}

.chat-form textarea{
    background: #F2FDFD;
    min-height: 100px;
}

.chat-form textarea:focus{
    background: #F2FDFD;
}


.p-section-1-3-4 .form-buttons,
.p-section-1-4 .form-buttons{
    margin-top: 30px;
    padding: 10px 10px;
}

.p-section-1-3-4 .form-buttons a,
.p-section-1-4 .form-buttons a{
    background-color: #1034A6;
    color: #FFFFFF;
    padding: 8px;
    width: 15%;
    border-radius: 0px;
    min-width: 100px;
}

.p-section-1-3-4 .form-buttons a:hover,
.p-section-1-4 .form-buttons a:hover{
    background-color: #FF5440;
    color: #FFFFFF;
}


.p-section-1-3-4 .custom-file,
.p-section-1-4 .custom-file{
    direction: ltr;
    text-align: center;
    width: 15%;
    height: 40px;
    text-align: -webkit-center;
    background-color: #BCBCBC !important;
    cursor: pointer;
    min-width: 100px;
}
.p-section-1-3-4 #file-lbl,
.p-section-1-4 #file-lbl{
    display: block;
    background-color: #BCBCBC;
    color: white;
    padding: 6px;
    border-radius: 0;
    margin-top: -37px;
    width: 100px;
}

.p-section-1-3-4 .custom-file:hover,
.p-section-1-4 .custom-file:hover{
    background-color: #1034A6 !important;
}
.p-section-1-3-4 .custom-file:hover #file-lbl,
.p-section-1-4 .custom-file:hover #file-lbl{
    background-color: #1034A6 !important;
    color: #ffffff;
}

.p-section-1-3-4 .form-buttons .chat-hour,
.p-section-1-4 .form-buttons .chat-hour{
    float: right;
    margin-top: 20px;
    font-size: 14px;
    color: #AEB8C0;
}


.p-section-1-4{
    margin-top: 50px;
}

.custom-hr{
    background-color:#1034A6;
    width: 100%;
}

/*FAQ */

.faq{
    margin-top: 100px;
    margin-bottom: 50px;
}

.faqHeader {
    text-align: right;
    color: #28D0DD;
    margin-bottom: 30px;
}

.panel{
    text-align: right;
    margin: 0px !important;

}
.panel-group{
}
.panel-heading{
    background: #1034A6 !important;
    color: #FFFFFF !important;
    border-radius: 0;
    padding: 10px 10px;
    margin-bottom: 1px;
    cursor: pointer;
}

.panel-title{

}
.panel-collapse{
    border: 1px solid #1034A6;
    background-color: #FFFFFF;
    color: #1034A6;
    margin-bottom: 1px;
    margin-top: -1px;
}

.panel-body p{
    padding: 10px 15px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: url('../img/icons/down-arrow_15x15.png'); /* "play" icon */

    float: left;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #454444;
}




.container .modal .form-buttons{
    margin-top: 20px;
}

.container .modal .form-buttons a{
    background-color: #FF5440;
    color: #FFFFFF;
    padding: 8px;
    width: 45%;
    margin: 5px;
    border-radius: 0px;
}

.container .modal .form-buttons a.back{
    background-color: #BCBCBC !important;
    color: #FFFFFF;
}

/* .container .modal .form-buttons a.back:hover{
    background-color: #1034A6 !important;
    color: #FFFFFF;
} */

.container .modal .form-buttons a.submit:hover{
    background-color: #FF5440 !important;
    color: #FFFFFF;
}


/*refuseCause modal*/
#refuseCause .body-content{
    padding: 40px !important;
}

.main-end{
    height: 50px;
}

/*@media query*/
@media screen and (max-width: 1000px) {
    .selectdiv{
        min-width:177px;
    }
}
/*@media query*/
@media screen and (max-width: 600px) {
    .form{
        margin-bottom: 10px;
    }

    .grid-container {
        width: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .selectdiv{
        min-width:177px;
    }
}

@media screen and (max-width: 500px) {
    .selectdiv{
        min-width:177px;
    }

    .p-section-1-1{
        overflow-x: auto;
    }

    .p-section-1-1 table{

        table-layout:auto;
    }  

    .p-section-1-1 table th{
        width: auto !important;
    }

}
