.header-img {
    /* background: no-repeat center center scroll; */
    background-image: url('../img/pages/services/img/hdr.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.overlay{
    /* background: url('../img/header/hdr-overlay.svg'); */
}

main{
    background: url('../img/main/section-bg.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 689px;
    background-position: bottom;
}




/* ==========================================
    Section-1
  ========================================== */
.p-section-1{
    margin-top: 100px;
	overflow: hidden;
}


.text-col{
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text-part1{
    position: relative;
    text-align: right;
    /* padding: 120px 100px 0px 10px; */
    /* height: 459px; */
    min-height: 250px; 
    padding: 30px 50px 0px 20px;
}


.text-part1 p{
    font-size: 15x;
}

.img-part1{
    background-color: #FF5440;
    overflow: hidden;
    /* height: 551px; */
    height: 320px;
}
.img-part1 img{
    overflow: hidden;
    width: 100%;
    transition: transform 0.5s; /* Animation */
    /* min-height: 551px; */
    min-height: 320px;
}

.img-part1 img:hover{
    transform : scale(1.1);
}

.i2{
    margin-top: -40px;
    /* margin-top: -50px; */
    /* margin-top: -38px; */
}

.t2{
    margin-top: -20px;
    /* margin-top: -25px; */
    /* margin-top: -20px; */
}


.wedding-text{
    background-color: #1034A6;
    color: #FFFFFF;
}
.wedding-text p{
    /* opacity: 50%; */
}

.video-text{
    background-color: #FF5440;
    color: #FFFFFF;
}

.video-text p{
    /* opacity: 90%; */
}

.photography-text{
    background-color: #28D0DC;
    color: #000000;
}
.photography-text p{
   /* opacity: 50%; */
}

.private-photo-text{
    background-color: #FAE168;
    color: #1C1C1C;
}
.private-photo-text p{
    opacity: 90%;
}

.private-visit-text{
    background-color: #1034A6;
    color: #FFFFFF;
}

.private-visit-text p{
    /* opacity: 50%; */
}

.buy-visit-permit-text{
    background-color: #FF5440;
    color: #FFFFFF;
}

.buy-visit-permit-text p {
    opacity: 90%;
}


.form-buttons{
    margin-top: 10px;
    /* margin-bottom: 10px; */
}


.form-buttons a{
    padding: 5px;
    width: 30%;
    border-radius: 0px;
}

.wedding-text .form-buttons a.add,
.photography-text .form-buttons a.add,
.private-visit-text .form-buttons a.add
{
    background-color: #FAE168 !important;
    color: #000000;
}

.video-text .form-buttons a.add,
.buy-visit-permit-text .form-buttons a.add{
    background-color: #1034A6 !important;
    color: #FFFFFF;
}

.private-photo-text .form-buttons a.add{
    background: #FF5440 !important;
    color: #FFFFFF;
}


.wedding-text .form-buttons a.add:hover{
    background-color: #FF5440 !important;
    color: #000000;
}
.video-text .form-buttons a.add:hover{
    background-color: #FAE168 !important;
    color: #FFFFFF;
}
.photography-text .form-buttons a.add:hover{
    background-color: #1034A6 !important;
    color: #000000;
}

.private-photo-text .form-buttons a.add:hover{
    background-color: #28D0DC !important;
    color: #FFFFFF;
}

.private-visit-text .form-buttons a.add:hover{
    background-color: #FF5440 !important;
    color: #000000;
} 

.buy-visit-permit-text .form-buttons a.add:hover{
    background-color: #FAE168 !important;
    color: #FFFFFF;
} 



.main-end{
    height: 50px;
}

/*@media query*/
@media screen and (max-width: 1200px) {
    .text-part1 {
        /* padding: 50px 40px 0px 10px; */
        padding: 5px 20px 40px 10px;
    }
    .form-buttons a{
        width: 40% !important;
    }
}

/*@media query*/
@media screen and (max-width: 900px) {
    .text-part1 {
        /* padding: 50px 40px 0px 10px; */
        padding: 5px 20px 40px 10px;
    }
    .form-buttons a{
        width: 40% !important;
    }
}


@media screen and (max-width: 600px) {

    .text-part1 {
        /* padding: 50px 40px 0px 10px; */
        padding: 5px 20px 40px 10px;
    }

    .form-buttons a{
        width: 40% !important;
    }
}